
<%- include("partials/header.ejs") %>
 <div class="team_heading">
            Team Informations
        </div>
<div class="center-main">

<<<<<<< HEAD
    <div class="table"> 
        <%- include("partials/table.ejs") %>
=======
    <div class="table">
       
        <% locals.teams.forEach(team => { %>
            <div class="t-teams">
                <img class="team-logo" src=<%= team.logo %> >
                <div ><%= team.team_name %></div>
                <div><%= team.country %></div>
            </div>
        <% }); %>

>>>>>>> f0e265446cfadf4c3adc86ac5fece4927ef90d91
    </div>
        
    <main class="main">
        
        
        <a href="/sunday" class="days">SUNDAY</a>
        <a href="/monday" class="days">MONDAY</a>
        <a href="/tuesday" class="days">TUESDAY</a>
        <a href="/wednesday" class="days" >WEDNESDAY</a>
        <a href="/thursday" class="days">THURSDAY</a>
        <a href="/friday" class="days">FRIDAY</a>
        <a href="/saturday" class="days">SATURDAY</a>
       
        
    </main>


</div>


    





